main.main 
    .main__image
        img(srcset="./image/bg.jpg")
    section.main__content 
        h2 Discover The World
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
        .main__button
            a(href="") Know More
            a(href="") Your Tour

    section.main__service 
        .service__container 
            .service__grid
                .item__title 
                    .text
                        h3 We Provide Our Service 
                            br
                            | All Over The World
                        p
                            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &apos;Content here, content&apos;
                        h4 All Destinations 
                +item("./image/iteam1.jpg")
                +item("./image/item2.jpg")
                +item("./image/item3.jpg")
                +item("./image/item4.jpg")
                +item("./image/item5.jpg")
                +item("./image/item6.jpg")
     
    section.main__feature
        .feature__container 
            .feature-wrapper
                +feature("Great Hotels","Spending time at a luxurious wellness resort is a great way to reconnect with your inner self and enjoy all the first-class services these places can offer you.")
                +feature("500+ Destinations","A list of the best travel destinations in the world as mentioned in Lonely Planet is Ultimate Travel.")
                +feature("Fast Booking","It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.")
    
    section.main__introduce
        .introduce__container
            .introduce__grid
                .introduce__image 
                     img(src='image/intro1.jpg' alt="")
                .introduce__image 
                     img(src='image/intro2.jpg' alt="")

    section.main__profile 
        .profile__container
            .profile__row 
                .profile__image
                    img(src='image/profile.jpg' alt="")
                .profile__content
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using &apos;Content here, content&apos;
                    h5 Jemes Karona
                    p Senior Ui/Ux Designer

    section.main__gallery
        .gallery__image 
            img(src='image/gallery1.jpg' alt="")
            img(src='image/gallery2.jpg' alt="")
            img(src='image/gallery3.jpg' alt="")
            img(src='image/gallery4.jpg' alt="")
            img(src='image/gallery5.jpg' alt="")

    section.main__blog
        .blog__container
            .blog__content
                h6 Our Blog
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more.
            .blog__image
                +blogitem("./image/blog11.jpg", "ON THE ROAD OF LIFE", "Their first home together? A seven-and-a-half-ton truck. Jennifer and Peter Glas take a two-year road trip in a Unimog truck from Munich to Vladivostock: a love letter.","By: Peter Glas | 05/05/2022")
                +blogitem("./image/blog22.jpg", "ME, LOVE AND OTHER", "Fresh from a break-up, Marco Buch sets out on an emotional rollercoaster ride in the Philippines, meeting dancing killers and tattooed girls, and experimenting with Tinder.","By: Marco Buch | 12/02/2022")
                +blogitem("./image/blog3.jpg", "THE BIG FIVE", "Johannes Klaus goes travelling in South Africa is Garden of Eden, Kruger National Park. But it is no paradise: man is a wild and deadly animal.","By: Johannes Klaus | 05/12/2022")
                +blogitem("./image/blog4.jpg", "UNDER THE DOME", "My childhood dream came true. We are travelling to the South Pacific.","By: Johannes Klaus | 01/10/2022")