@import'_mixins.scss';
header{
    position: relative;
    width: 100%;
    z-index: 22;
    margin-bottom: -165px;
    
}
.menu{
    padding: 37px 0px;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
    position: fixed !important; 
    background: #02bfc6;
    &__container{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}
    
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;   
        img{
            padding-left: 80px;
        }
        .header__button{
            padding-right: 60px;
            .button__top{
                padding: 16px 37px;
                background: transparent;
                @include color;
                transition: .5s;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                cursor: pointer;
                text-decoration: none;
                text-transform: uppercase;
                &:hover{
                    background-color: darkorange;
                    transition: 1s;
                }
            }
               
        }     
    }
    ul{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: center;
    }
    li{
        position: relative;
        z-index: 1;
        a{  
            padding: 0px 44px;
            display: inline-block;
            margin-bottom: 10px;
            text-decoration: none;
            color: white;
            &:hover{
                color: darkorange;
                transition: 1s;
            }
        }
    } 
    
}
.button__hidden{
    display: none;
} 
 
