@import'_mixins.scss';
// Mobile
@media (max-width: 740px){
    .header{
        &__menu{
            display: none;
        }
        &__logo{
            img{
                width: 70%;
                padding-left: 0;
            }
        }
    }
    .button__hidden{
        @include hidden;
        font-size: 20px;
        &:hover{
            color: darkgrey;
            transition: 1s;
        }

    }
    .button__top{
        display: none;
    }
    .menu{
        padding: 20px 0;
    }
    .main{
        &__image{
            img{
                height: 800px;
            }
        }
        &__content{
            width: 100%;
            left: 0;
        }
        h2{
            font-size: 30px;
            margin-bottom: 13px;
        }
        p{
            font-size: 13px;
        }
    }
    .service{
        &__container{
            margin: 0 25px;
        }
        &__grid{
            grid-template-columns: 1fr;
        }
        .item{
            &__title{
               text-align: left;     
            }

            .text{
                padding: 10%;
            }
            p{
                padding: 200px;
                margin: 0;
            }

}
}
    .feature{
        &__container{
            margin: 0;
            padding: 0 15px;
        }
        &-wrapper{
            grid-template-columns: 1fr;
}

    }
    .introduce{
        &__container{
            margin: 0;
        }
        &__grid{
            grid-template-columns: 1fr;
        }
    }
    .profile{
        &__container{
            margin: 0;
        }
        &__content {
            p{  
                font-size: 14px;
                max-width: 344px;
                padding: 0;
            }
        }
    }
    .blog{
        &__container{
            max-width: 370px;
            margin: 0;
        }
        &__content{
            p{  
                padding: 10px 30px 40px 30px;
            }
        }
        &__image{
            padding: 0 20px;
            max-width: 344px;
            h7{
                font-size: 20px;
                
            }
            img{
                width: 100%;
            }
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
    .gallery{
        &__image{
            grid-template-columns: 1fr;
            img{
                width: 80%;
                height: 200px;
            }
        }
    }
    .footer{
            &__container{
                @include footer__container;
            }
            &__aboutus{
                padding: 10px 0;
            }
            &__links{
                padding: 10px 0;
            }
            &__tip{
                padding: 10px 0;
            }
            &__popular{
                padding: 10px 0;

            }
            h7{
                padding: 0;
                
            }
            h8{
                font-size: 18px;
                padding: 0 0 0 100px;
            }
            h9{
                font-size: 18px;
                padding: 0 0 0 70px;
            }
            h10{
                padding: 0 0 0 70px;
            }
            &__copyright{
                margin-left: 10px;
                padding-top: 0;
            }
            i{
                padding: 7px;
            }
            
        }
        .bar{
            display: none;
         
         }
  

}

// Tablet
@media  (min-width: 741px) and (max-width: 1023px){
    .header{
        &__menu{
            display: none;
        }
        &__logo{
            img{
                padding-left: 10px;
            }
        }
    }
    .button__hidden{
        @include hidden;
        font-size: 30px;
        &:hover{
            color: darkgrey;
            transition: 1s;
        }
    }
    .button__top{
        display: none;
    }
    .menu{
        padding: 25px 0;
    }
    .main{
        &__content{
            width: 100%;
            left: 0;
        }
        h2{
            font-size: 40px;
        }
    }
    .service{
        &__container{
            margin: 0 25px;
        }
        &__grid{
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
        .item{
            &__title{
                align-items: center;
                grid-column: 1/2;
            }
            h3{
                &::after{
                    display: none;
                }
                
            }
}
}
    .feature{
        &__container{
            margin: 0;
            padding: 0 15px;
        }
        &-wrapper{
            grid-template-columns: 1fr;
        }
        &__bar{
            left: 52%;
        }


    }
    .gallery{
        &__image{
            margin: 10px;
            grid-template-columns: 1fr 1fr;
        }

}   
    .introduce{
        &__container{
            margin: 0;
        }
    }
    .profile{
        &__container{
            margin: 0;
        }
    }
    .blog{
        &__container{
            width: 720px;
            margin: 0;
        }
        &__content{
            p{
                padding: 10px 30px 40px 30px;
            }
        }
        &__image{
            grid-template-columns: repeat(2,1fr);
            gap: 30px;
        }
    }
    .footer{
        &__container{
            @include footer__container;
        }
        &__aboutus{
            padding: 20px;
        }
        &__links{
            padding: 10px;
        }
        &__tip{
            padding: 10px;
        }
        &__popular{
            padding: 10px;
        }
        h7{
            padding: 0;
            
        }
        h8{
            font-size: 18px;
            padding: 0 0 0 280px;
        }
        h9{
            font-size: 18px;
            padding: 0 0 0 260px;
        }
        h10{
            padding: 0 0 0 255px;
        }
        &__copyright{
            margin-left: 225px;
            padding-top: 0;
        }
        
    }
    .bar{
       display: none;
    
    }
}

