footer.footer
    section.footer__container 
        .footer__aboutus 
            h7 Never miss a Story
            p Find us on Facebook, Twitter, Instagram, 500px, Google, Pinterest and National Geographic. Or simply subscribe to our RSS feed.
            a(href='#')
               i.fa-brands.fa-facebook-f
            a(href='#')
                i.fa-brands.fa-twitter
            a(href='#')
                i.fa-brands.fa-instagram
            a(href='#')
                i.fa-brands.fa-youtube
            a(href='#')
                i.fa-brands.fa-pinterest-p
            a(href='#')
                i.fa-brands.fa-google
            a(href='#')
                i.fa-brands.fa-500px
        .footer__links
            h8 Ordinary Traveler
            .bar 
            +list
        .footer__tip 
            h9 Traveling Tips &amp; Hacks
            .bar 
            +list__item
        .footer__popular 
            h10 Popular Travel Guides
            .bar 
            +list__itemsc
    .footer__copyright
        p Copyright @ 2022multilen ALL Rights Reserved