header.header
    .menu
        .menu__container 
            .menu__content 
                .header__logo 
                    a(href='index.html')
                        img(src="image/logo.png" alt='')
                .header__menu
                    nav
                        ul
                            li.menu__title
                                a.active(href='index.html') HOME
                            li.menu__title
                                a(href='about.html') ABOUT US
                            li.menu__title
                                a(href='destination.html') DESTINATION
                            li.menu__title
                                a(href='blog.html') BLOG
                            li.menu__title
                                a(href='contact.html') CONTACT
                .header__button
                    a.button__top(href="") Get a quotes
                button.button__hidden(type='button')
                     i.fa-solid.fa-bars